<%- include('partials/header') %>
  <title> Career</title>
</head>

<link rel="stylesheet" type="text/css" href="/scholarship.css">
<body>

<div class="container">
  <div class="headerImg"></div>
  <div class="header"><h1 class="header">Jobs</h1>
 </div>
  <div class="left">

<h2>Team Samarthya will filter Jobs for you according to your eligibility</h2>
<p>
  
  </p></div>
  <div>
    <table>
      <tr>
        <td>Name</td>
        <td>Skills</td>
        <td>Standard</td>
        <td>Organization</td>
      </tr>
      <% for(let i of list){ %>
        <tr>
          <td><%= i.name %></td>
          <td><%= i.skills %></td>
          <td><%= i.standard %></td>
          <td><%= i.organization %></td>
        </tr>
      <% } %>
    </table>
  </div>
  <div class="content">
    <h1 style="color:black">Jobs</h1>
    <p>
    </p>
    <form action="/home/jobs/specify">
    <br>
    <br>
    <div>
        <label for="class">Qualification</label>
       
            <select name="myclass" id="class">
                <option value="illiterate">ILLITERATE</option>
                <option value="graduate">GRADUATION</option>
            </select>
       
    </div>
    <br>
    <div>
        <label for="board">Name</label>
        <input type="text" name="name" id="board" placeholder="Enter the Occupation">
    </div>
    <br>
    <div>
        <label for="CGPA">Skills</label>
        <input type="text" name="skills" id="CGPA" placeholder="Enter your skills">
    </div>
    <div>
      <label for="sal">Salary</label>
      <input type="text" name="salary" id="sal" placeholder="Enter your salary">
    </div>
    <button type="submit">Create Resume</button>
    <br>
    <br>
    <br>
    

</form>
</p>
   
  <div class="footer"></div>
</div>


</body>
</html>